.flows_raspberrypi.json.backup
[{"id":"f20506f8.0af398","type":"tab","label":"Fish Feeders","disabled":false,"info":""},{"id":"f06a4067.83b82","type":"tab","label":"Tortoise Light","disabled":false,"info":""},{"id":"df8d460e.f8f668","type":"tab","label":"System Info","disabled":false,"info":""},{"id":"283c239f.fc4d0c","type":"tab","label":"Simple Webcam","disabled":false,"info":""},{"id":"c34370f6.37cd4","type":"ui_tab","z":"","name":"Tortoise","icon":"dashboard","order":2},{"id":"f14f32cb.3d949","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f1a19802.725388","type":"ui_group","z":"","name":"Tortoise light","tab":"c34370f6.37cd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"1451489e.925417","type":"ui_tab","z":"","name":"Fish Feeders","icon":"dashboard","order":1},{"id":"9482404c.e769f","type":"ui_group","z":"","name":"Adult Fish Feeder","tab":"1451489e.925417","order":1,"disp":true,"width":"6","collapse":false},{"id":"c874184d.e39118","type":"ui_group","z":"","name":"Uptime","tab":"224a5d9c.f43fe2","order":3,"disp":true,"width":"6","collapse":true},{"id":"224a5d9c.f43fe2","type":"ui_tab","z":"","name":"System info","icon":"dashboard","order":4},{"id":"c11440bd.88264","type":"ui_group","z":"","name":"System Information","tab":"","order":1,"disp":true,"width":"8","collapse":true},{"id":"2380f491.bc5b2c","type":"ui_group","z":"","name":"CPU Status","tab":"","order":2,"disp":true,"width":"8","collapse":true},{"id":"951e43aa.e7818","type":"ui_group","z":"","name":"Memory Status","tab":"","order":3,"disp":true,"width":"8","collapse":true},{"id":"74ac160a.982f98","type":"ui_group","z":"","name":"CPU Status","tab":"224a5d9c.f43fe2","order":1,"disp":true,"width":"6","collapse":true},{"id":"77693c71.70d094","type":"ui_group","z":"","name":"Memory Status","tab":"224a5d9c.f43fe2","order":2,"disp":true,"width":"6","collapse":true},{"id":"80b67563.d83068","type":"ui_group","z":"","name":"System Information","tab":"","order":1,"disp":true,"width":"8","collapse":true},{"id":"36b72b85.65a194","type":"ui_group","z":"","name":"CPU Status","tab":"","order":2,"disp":true,"width":"8","collapse":true},{"id":"3a25d326.1ba6dc","type":"ui_group","z":"","name":"Memory Status","tab":"","order":3,"disp":true,"width":"8","collapse":true},{"id":"c3c6ad52.c69f1","type":"ui_group","z":"","name":"Uptime","tab":"","order":3,"disp":true,"width":"6"},{"id":"23698fc6.e0b2e","type":"ui_group","z":"","name":"Uptime","tab":"","order":3,"disp":true,"width":"6"},{"id":"e16aa33b.f90af","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"6bb9af4e.618ef","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"1e5c5142.aa0c6f","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"27bd9995.43ecc6","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"b9d36e49.4ab48","type":"ui_group","z":"","name":"Group 2","tab":null,"order":2,"disp":true,"width":"6","collapse":false},{"id":"5b660363.1d5a6c","type":"ui_tab","z":"","name":"Camera","icon":"dashboard","order":3},{"id":"1dadbaf5.e33905","type":"ui_group","z":"","name":"Small Grow Bed","tab":"5b660363.1d5a6c","order":1,"disp":true,"width":"11","collapse":false},{"id":"d269c085.d12e2","type":"rpi-gpio out","z":"f20506f8.0af398","name":"adult feeder","pin":"11","set":false,"level":"0","freq":"100","out":"pwm","x":1430,"y":240,"wires":[]},{"id":"59db2d8c.0177e4","type":"trigger","z":"f20506f8.0af398","op1":"","op2":"0","op1type":"pay","op2type":"num","duration":"2300","extend":false,"units":"ms","reset":"","bytopic":"all","name":"2 spins","x":1100,"y":180,"wires":[["164e3760.26e989","d269c085.d12e2"]]},{"id":"2d7efd44.f8a982","type":"debug","z":"f20506f8.0af398","name":"feed log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1420,"y":120,"wires":[]},{"id":"4c189a80.a57574","type":"delay","z":"f20506f8.0af398","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":220,"wires":[["59db2d8c.0177e4"]]},{"id":"a4c7fc58.cbd35","type":"delay","z":"f20506f8.0af398","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":280,"wires":[["59db2d8c.0177e4"]]},{"id":"8d9e55a0.9aa258","type":"delay","z":"f20506f8.0af398","name":"5 hr delays","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":550,"y":180,"wires":[["59db2d8c.0177e4","4c189a80.a57574","a4c7fc58.cbd35","e75d5df3.b7138"]]},{"id":"527e0ca8.da5554","type":"bigtimer","z":"f20506f8.0af398","outtopic":"","outpayload1":"","outpayload2":"","name":"Feeder Timer","comment":"","lat":"19.8968","lon":"155.5828","starttime":"420","endtime":"1080","startoff":"0","endoff":0,"offs":0,"outtext1":"active","outtext2":"deactive","timeout":"99999999999","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":180,"wires":[[],["38dff773.2b0948"],[]]},{"id":"ab2093a3.e6061","type":"inject","z":"f20506f8.0af398","name":"MANUAL FEEDER STOP","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":460,"wires":[["d269c085.d12e2","2d7efd44.f8a982"]]},{"id":"203de242.eef88e","type":"rpi-gpio out","z":"f06a4067.83b82","name":"Tortoise light","pin":"37","set":true,"level":"0","freq":"","out":"out","x":1490,"y":220,"wires":[]},{"id":"a7c2bb2e.acda58","type":"inject","z":"f06a4067.83b82","name":"manual lights on","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1220,"y":300,"wires":[["203de242.eef88e"]]},{"id":"35bce91a.497c46","type":"inject","z":"f06a4067.83b82","name":"manual lights off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1220,"y":340,"wires":[["203de242.eef88e"]]},{"id":"d6164384.80e42","type":"rpi-dht22","z":"f06a4067.83b82","name":"","topic":"temp and humidity","dht":"11","pintype":"2","pin":"12","x":730,"y":180,"wires":[["a22e99f5.f7ea48","8be9037e.82ed2","b7680ca6.8cad9"]]},{"id":"a22e99f5.f7ea48","type":"switch","z":"f06a4067.83b82","name":"< 70","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"22","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":200,"wires":[["996dc369.91f4d"]]},{"id":"8be9037e.82ed2","type":"switch","z":"f06a4067.83b82","name":">70","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"22","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":240,"wires":[["7ba20d12.ce8f34"]]},{"id":"996dc369.91f4d","type":"change","z":"f06a4067.83b82","name":"light on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":200,"wires":[["f45be1f4.d6ea3"]]},{"id":"7ba20d12.ce8f34","type":"change","z":"f06a4067.83b82","name":"light off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":240,"wires":[["f45be1f4.d6ea3"]]},{"id":"ba524c29.75e63","type":"debug","z":"f06a4067.83b82","name":"light log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1460,"y":60,"wires":[]},{"id":"77bf926f.ac162c","type":"bigtimer","z":"f06a4067.83b82","outtopic":"","outpayload1":"","outpayload2":"","name":"Tortoise Light Timer","comment":"","lat":"19.8968","lon":"155.5828","starttime":"360","endtime":"960","startoff":"0","endoff":0,"offs":0,"outtext1":"active","outtext2":"deactive","timeout":"480","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":140,"wires":[[],["c4b14880.ac1bd8","78c51727.c7f1f8"],[]]},{"id":"4d1f52e5.4bf01c","type":"delay","z":"f06a4067.83b82","name":"10 min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":530,"y":180,"wires":[["d6164384.80e42"]]},{"id":"1eda0b59.b33d65","type":"ui_chart","z":"f06a4067.83b82","name":"Temp history","group":"f1a19802.725388","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"90","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1470,"y":140,"wires":[[],[]]},{"id":"f45be1f4.d6ea3","type":"ui_switch","z":"f06a4067.83b82","name":"","label":"lights","group":"f1a19802.725388","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1290,"y":220,"wires":[["203de242.eef88e","ba524c29.75e63"]]},{"id":"4ee2d8d2.4f7f18","type":"ui_switch","z":"f06a4067.83b82","name":"auto lights","label":"auto lights","group":"f1a19802.725388","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"auto ","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":120,"y":40,"wires":[["77bf926f.ac162c"]]},{"id":"cec9f15e.038db","type":"ui_switch","z":"f20506f8.0af398","name":"Auto Feed","label":"Auto Feed","group":"9482404c.e769f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"auto","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":110,"y":80,"wires":[["527e0ca8.da5554"]]},{"id":"164e3760.26e989","type":"ui_chart","z":"f20506f8.0af398","name":"Feed Chart","group":"9482404c.e769f","order":4,"width":0,"height":0,"label":"Feed Chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#fb9b9d","#ae9360","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1430,"y":180,"wires":[[],[]]},{"id":"a1b96b7d.19ca18","type":"inject","z":"f06a4067.83b82","name":"ping tempurature","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":40,"wires":[["86aa8b8e.20c748"]]},{"id":"4cb91581.c3555c","type":"ui_gauge","z":"f06a4067.83b82","name":"","group":"f1a19802.725388","order":3,"width":0,"height":0,"gtype":"gage","title":"Outdoor Temp","label":"F","format":"{{value}}","min":"60","max":"95","colors":["#132cd5","#25c521","#ca3838"],"seg1":"70","seg2":"80","x":1480,"y":100,"wires":[]},{"id":"b7680ca6.8cad9","type":"function","z":"f06a4067.83b82","name":"c to f","func":"msg.payload = Number(msg.payload);\nmsg.payload = (msg.payload)*1.8;\nmsg.payload = parseFloat((msg.payload)+32).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":100,"wires":[["4cb91581.c3555c","1eda0b59.b33d65","ba524c29.75e63"]]},{"id":"2af221b6.a0b85e","type":"trigger","z":"f20506f8.0af398","op1":"","op2":"0","op1type":"pay","op2type":"num","duration":"1050","extend":false,"units":"ms","reset":"","bytopic":"all","name":"1 spin","x":1110,"y":240,"wires":[["164e3760.26e989","d269c085.d12e2","2d7efd44.f8a982"]]},{"id":"1bb58651.45383a","type":"ui_button","z":"f20506f8.0af398","name":"","group":"9482404c.e769f","order":5,"width":0,"height":0,"passthru":false,"label":"Feed Once","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":1070,"y":380,"wires":[["2af221b6.a0b85e"]]},{"id":"22fe5069.82342","type":"ui_text","z":"df8d460e.f8f668","group":"c874184d.e39118","order":3,"width":"0","height":"0","name":"uptime","label":"UpTime","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":340,"wires":[]},{"id":"f810dbda.542068","type":"inject","z":"df8d460e.f8f668","name":"shutdown!","topic":"","payload":"","repeat":"","crontab":"","once":false,"x":440,"y":140,"wires":[["f096d4fb.f5add8"]]},{"id":"f096d4fb.f5add8","type":"exec","z":"df8d460e.f8f668","command":"sudo poweroff #","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"turn off Pi","x":940,"y":140,"wires":[[],[],[]]},{"id":"c4b14880.ac1bd8","type":"switch","z":"f06a4067.83b82","name":"switch on 1","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":180,"wires":[["4d1f52e5.4bf01c"]]},{"id":"38dff773.2b0948","type":"switch","z":"f20506f8.0af398","name":"switch on 1","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":180,"wires":[["8d9e55a0.9aa258"]]},{"id":"7b07eebc.55c1","type":"inject","z":"f20506f8.0af398","name":"MANUAL FEEDER GO","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":420,"wires":[["d269c085.d12e2"]]},{"id":"ae2293c9.e6731","type":"inject","z":"df8d460e.f8f668","name":"reboot","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":450,"y":220,"wires":[["12788b3c.f4f455"]]},{"id":"12788b3c.f4f455","type":"exec","z":"df8d460e.f8f668","command":"sudo reboot #","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"reboot Pi","x":940,"y":220,"wires":[[],[],[]]},{"id":"412c7b0a.80ef34","type":"ui_button","z":"df8d460e.f8f668","name":"","group":"c874184d.e39118","order":0,"width":0,"height":0,"passthru":false,"label":"shutdown","color":"","bgcolor":"","icon":"","payload":"Shutdown?","payloadType":"str","topic":"","x":440,"y":100,"wires":[["3e75dd27.7391f2"]]},{"id":"71104edf.9f769","type":"ui_button","z":"df8d460e.f8f668","name":"reboot","group":"c874184d.e39118","order":0,"width":0,"height":0,"passthru":false,"label":"reboot","color":"","bgcolor":"","icon":"","payload":"Reboot?","payloadType":"str","topic":"","x":450,"y":180,"wires":[["68b82944.839f68"]]},{"id":"86aa8b8e.20c748","type":"rpi-dht22","z":"f06a4067.83b82","name":"","topic":"temp and humidity","dht":"11","pintype":"2","pin":"12","x":730,"y":100,"wires":[["b7680ca6.8cad9"]]},{"id":"78c51727.c7f1f8","type":"switch","z":"f06a4067.83b82","name":"switch on 0","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":100,"wires":[["89657ce1.d67c4"]]},{"id":"89657ce1.d67c4","type":"delay","z":"f06a4067.83b82","name":"10 min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":530,"y":100,"wires":[["86aa8b8e.20c748"]]},{"id":"754cda9d.7a9f14","type":"ui_text","z":"f20506f8.0af398","group":"9482404c.e769f","order":3,"width":0,"height":0,"name":"autofeed time","label":"Time of last autofeed cycle","format":"{{msg.mytime}}","layout":"row-spread","x":1060,"y":80,"wires":[]},{"id":"e75d5df3.b7138","type":"simpletime","z":"f20506f8.0af398","name":"","x":770,"y":120,"wires":[["754cda9d.7a9f14","2126f750.e88ae8","2d7efd44.f8a982"]]},{"id":"2126f750.e88ae8","type":"ui_text","z":"f20506f8.0af398","group":"9482404c.e769f","order":2,"width":0,"height":0,"name":"autofeed day","label":"Day of last autofeed cycle","format":"{{msg.myday}}","layout":"row-spread","x":1050,"y":40,"wires":[]},{"id":"b60e7b93.4eb168","type":"inject","z":"df8d460e.f8f668","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[["e40aedfc.17df9","a113a5f0.e31368"]]},{"id":"e40aedfc.17df9","type":"Memory","z":"df8d460e.f8f668","name":"","x":440,"y":660,"wires":[["237b8e57.938d72"]]},{"id":"237b8e57.938d72","type":"function","z":"df8d460e.f8f668","name":"Memory","func":"var totalmem = msg.payload.totalmem;\nvar freemem = msg.payload.freemem;\nvar usedmem = totalmem - freemem;\nvar usedmemMB = Math.floor((usedmem / 1048576) * 100) / 100;\nvar totalmemMB = Math.floor((totalmem / 1048576) * 100) / 100;\nvar freememMB = Math.floor((freemem / 1048576) * 100) / 100;\nvar usedmemGB = Math.floor((usedmemMB / 1024) * 100) / 100;\nvar freememGB = Math.floor((freememMB / 1024) * 100) / 100;\nvar totalmemGB = Math.floor((totalmemMB / 1024) * 100) / 100;\ntotalmem = {payload: totalmem, mb: totalmemMB, gb: totalmemGB};\nmemusage = {payload: msg.payload.memusage};\nusedmem = {payload: usedmem, mb: usedmemMB, gb: usedmemGB};\nfreemem = {payload: freemem, mb: freememMB, gb: freememGB};\nreturn [totalmem, memusage, usedmem, freemem];","outputs":4,"noerr":0,"x":600,"y":660,"wires":[["4cd3e1e2.4e03c","4fe3ced3.97ab9"],["2f543e65.f18a12"],["bb7b158.21ba3e8"],["21c48b2a.c16924"]]},{"id":"bbbeb4fd.387218","type":"ui_gauge","z":"df8d460e.f8f668","name":"","group":"74ac160a.982f98","order":1,"width":"6","height":"6","gtype":"gage","title":"CPU","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":990,"y":400,"wires":[]},{"id":"a113a5f0.e31368","type":"cpu","z":"df8d460e.f8f668","name":"","msgCore":true,"msgOverall":true,"x":450,"y":460,"wires":[["da318410.9d87a8"]]},{"id":"da318410.9d87a8","type":"function","z":"df8d460e.f8f668","name":"CPU","func":"var getContext = function(str) {\n  return context.get(str) || {};\n}\nvar setContext = function(str, obj) {\n  return context.set(str, obj);\n}\nvar topics = [\n    \"core_1\",\n    \"core_2\",\n    \"core_3\",\n    \"core_4\",\n    \"overall\"\n];\n\nvar msgs = [\n    getContext(topics[0]),\n    getContext(topics[1]),\n    getContext(topics[2]),\n    getContext(topics[3]),\n    getContext(topics[4])\n];\n\nswitch(msg.topic)\n{\n    case topics[0]:\n        setContext(topics[0], msg);\n        return [msg, null, null, null, null];\n    case topics[1]:\n        setContext(topics[1], msg);\n        return [null, msg, null, null, null];\n    case topics[2]:\n        setContext(topics[2], msg);\n        return [null, null, msg, null, null];\n    case topics[3]:\n        setContext(topics[3], msg);\n        return [null, null, null, msg, null];\n    case topics[4]:\n        setContext(topics[4], msg);\n        return [null, null, null, null, msg];\n}\n\nreturn msgs;","outputs":5,"noerr":0,"x":790,"y":460,"wires":[["97385ec1.c513c"],["b68a1ffd.3493d"],["a1ef3900.bf3f68"],["be78a45b.f28778"],["bbbeb4fd.387218"]]},{"id":"97385ec1.c513c","type":"ui_gauge","z":"df8d460e.f8f668","name":"","group":"74ac160a.982f98","order":3,"width":"3","height":"3","gtype":"gage","title":"Core 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":990,"y":440,"wires":[]},{"id":"b68a1ffd.3493d","type":"ui_gauge","z":"df8d460e.f8f668","name":"","group":"74ac160a.982f98","order":4,"width":"3","height":"3","gtype":"gage","title":"Core 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":990,"y":480,"wires":[]},{"id":"a1ef3900.bf3f68","type":"ui_gauge","z":"df8d460e.f8f668","name":"","group":"74ac160a.982f98","order":6,"width":"3","height":"3","gtype":"gage","title":"Core 3","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":990,"y":520,"wires":[]},{"id":"be78a45b.f28778","type":"ui_gauge","z":"df8d460e.f8f668","name":"","group":"74ac160a.982f98","order":7,"width":"3","height":"3","gtype":"gage","title":"Core 4","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":990,"y":560,"wires":[]},{"id":"4cd3e1e2.4e03c","type":"ui_text","z":"df8d460e.f8f668","group":"77693c71.70d094","order":7,"width":"6","height":"1","name":"Memory","label":"Memory {{msg.gb}} GB","format":"{{msg.mb}} MB","layout":"row-spread","x":800,"y":580,"wires":[]},{"id":"2f543e65.f18a12","type":"ui_gauge","z":"df8d460e.f8f668","name":"","group":"77693c71.70d094","order":0,"width":"6","height":"6","gtype":"gage","title":"Memory","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":800,"y":660,"wires":[]},{"id":"4fe3ced3.97ab9","type":"ui_text","z":"df8d460e.f8f668","group":"77693c71.70d094","order":0,"width":0,"height":0,"name":"Memory","label":"Memory {{msg.gb}} GB","format":"{{msg.mb}} MB","layout":"row-spread","x":800,"y":620,"wires":[]},{"id":"bb7b158.21ba3e8","type":"ui_text","z":"df8d460e.f8f668","group":"77693c71.70d094","order":0,"width":0,"height":0,"name":"Used Memory","label":"Used Memory {{msg.gb}} GB","format":"{{msg.mb}} MB","layout":"row-spread","x":820,"y":700,"wires":[]},{"id":"21c48b2a.c16924","type":"ui_text","z":"df8d460e.f8f668","group":"77693c71.70d094","order":0,"width":0,"height":0,"name":"Free Memory","label":"Free Memory {{msg.gb}} GB","format":"{{msg.mb}} MB","layout":"row-spread","x":810,"y":740,"wires":[]},{"id":"92687d17.e81d6","type":"inject","z":"df8d460e.f8f668","name":"","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"x":190,"y":340,"wires":[["54685ac9.9d9f34"]]},{"id":"4040ae4d.3c16d","type":"function","z":"df8d460e.f8f668","name":"Seconds to DD:HH:MM:SS","func":" var totalNumberOfSeconds = msg.count;\n var days = parseInt( totalNumberOfSeconds / 86400 );\n var hours = parseInt (( totalNumberOfSeconds - ( days * 86400 )) / 3600  );\n var minutes = parseInt ((totalNumberOfSeconds - ((hours * 3600)+( days * 86400 ))) / 60 );\n var seconds = parseInt(totalNumberOfSeconds - ((hours * 3600) + (minutes * 60)+( days * 86400 )));\n var result = (days < 10 ? \"0\" + days : days) + \":\" + (hours < 10 ? \"0\" + hours : hours) + \":\" + (minutes < 10 ? \"0\" + minutes : minutes) + \":\" + (seconds  < 10 ? \"0\" + seconds : seconds);\n msg.payload=result;\n return msg;","outputs":1,"noerr":0,"x":680,"y":340,"wires":[["22fe5069.82342"]]},{"id":"54685ac9.9d9f34","type":"counter","z":"df8d460e.f8f668","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":440,"y":340,"wires":[["4040ae4d.3c16d"]]},{"id":"a0aa6788.78bc28","type":"switch","z":"df8d460e.f8f668","name":"switch on OK","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":100,"wires":[["f096d4fb.f5add8"]]},{"id":"3e75dd27.7391f2","type":"ui_toast","z":"df8d460e.f8f668","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"cancel","topic":"","name":"confirmation","x":590,"y":100,"wires":[["a0aa6788.78bc28"]]},{"id":"68b82944.839f68","type":"ui_toast","z":"df8d460e.f8f668","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"cancel","topic":"","name":"confirmation","x":590,"y":180,"wires":[["6d7af983.3704b8"]]},{"id":"6d7af983.3704b8","type":"switch","z":"df8d460e.f8f668","name":"switch on OK","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":180,"wires":[["12788b3c.f4f455"]]},{"id":"4a8cf48f.1bc96c","type":"exec","z":"283c239f.fc4d0c","command":"fswebcam -r 1280x720 --no-banner --rotate 270 ","addpay":true,"append":"","useSpawn":"false","timer":"120","oldrc":false,"name":"","x":1160,"y":80,"wires":[[],["902a51ce.f3a79","36ae4c2d.864fa4"],[]]},{"id":"77297b68.2f1d44","type":"simpletime","z":"283c239f.fc4d0c","name":"","x":630,"y":80,"wires":[["d9d0d382.eccc2"]]},{"id":"d9d0d382.eccc2","type":"template","z":"283c239f.fc4d0c","name":"image location/name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/Pictures/{{mydom}}{{mymonth}}{{myyear}}{{mytime}}.jpg","output":"str","x":840,"y":80,"wires":[["4a8cf48f.1bc96c"]]},{"id":"3d3c337d.075b7c","type":"bigtimer","z":"283c239f.fc4d0c","outtopic":"","outpayload1":"","outpayload2":"","name":"Camera Timer","comment":"","lat":"19.8968","lon":"155.5828","starttime":"600","endtime":"615","startoff":"0","endoff":0,"offs":0,"outtext1":"active","outtext2":"deactive","timeout":"480","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":120,"y":80,"wires":[[],["c3a2b5e1.dcfc28"],[]]},{"id":"dbd6c0fe.8e2a5","type":"delay","z":"283c239f.fc4d0c","name":"10 min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":470,"y":80,"wires":[["77297b68.2f1d44"]]},{"id":"c3a2b5e1.dcfc28","type":"switch","z":"283c239f.fc4d0c","name":"switch on 1","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":80,"wires":[["dbd6c0fe.8e2a5"]]},{"id":"16d61c39.ca3c94","type":"ui_template","z":"283c239f.fc4d0c","group":"1dadbaf5.e33905","name":"","order":1,"width":"11","height":"21","format":"<img src={{msg.payload}} alt=\"My Picture\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1220,"y":140,"wires":[[]]},{"id":"af5edff9.aff9e","type":"inject","z":"283c239f.fc4d0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":220,"wires":[["77297b68.2f1d44"]]},{"id":"36ae4c2d.864fa4","type":"debug","z":"283c239f.fc4d0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":240,"wires":[]},{"id":"902a51ce.f3a79","type":"template","z":"283c239f.fc4d0c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/Pictures/{{mydom}}{{mymonth}}{{myyear}}{{mytime}}.jpg","output":"str","x":1040,"y":140,"wires":[["16d61c39.ca3c94"]]}]